body {
  background-color: #EEF1E6;
  font-family: sans-serif;
}

h1 {
  color: #799FCB;
  font-weight: bold;
}

h2{
  color:#F9665E;
  font-weight: bolder;
}

.header {
  margin: 5px 3px;
  display: inline-block;
}

.body {
  background-color: #AFC7D0;
  border: 10px;
  border-radius: 12px;
  padding: 15px 15px;
}

a:link, a:visited, .button {
  background-color:  #FEC9C9 ;
  border: 1px black;
  border-radius: 12px; /*this makes it round*/
  color: black;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 3px;
}
a:hover, a.active {
  color: white
}
