color scheme{
color: #799FCB;
color: #EEF1E6;
color: #F9665E;
color: #AFC7D0;
}

:root {
  --dark-blue: #799FCB;
  --off-white:  #EEF1E6;
  --rose:  #F9665E;
  --light-blue:  #AFC7D0;
  --peach: #FFCC99;          /* Soft Peach */
  --soft-pink: #F5A7B8;      /* Soft Pink */
  --dusty-rose: #E4A8B3;     /* Dusty Rose */
  --blush-pink: #F7D1D1;     /* Blush Pink */
  --light-beige: #F4E3D7;    /* Light Beige */
  --warm-charcoal: #4A4A4A;  /* Warm Charcoal */
  --gold: #D4AF37;           /* Gold (Accent) */
}


body {
  background-color: var(--off-white);
  font-family: sans-serif;
  color: var(--warm-charcoal);
  
}

h1 {
  color: var(--off-white);
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
}

h2{
  color: var(--rose);
  text-align: center;
  font-size: 50px;
}

h3{
  color: var(--dark-blue);
}

p{
  color: var(--warm-charcoal);
}


.header-container {
  position: sticky;
  top: 0;

  background-color: var(--dark-blue);
  padding: 5px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.body {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: var(--blush-pink);
  border-radius: 12px;
  margin: 0.5em;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.button, a:link, a:visited{
  background-color:  var(--rose);
  border-radius: 12px; /*this makes it round*/
  color: #EEF1E6;
  text-align: center;
  text-decoration: none;
  padding: 0.5em;
  margin: 5px;
  width: 60px;
  max-height: 2.5em;
}
a:hover, a.active {
  color: #799FCB;
  border-radius: 5em;
}

.footer-container{
  left: 0;
  bottom: 0;
  background-color:var(--dusty-rose);
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

