body {
	background-color: rgb(210, 232, 210);
	font-family: sans-serif;
}

h1 {
	color: lightblue;
	font-weight: bold;
}

p {
	background-color: pink;
}

.button {
	background-color: pink;
  	border: 10px;
	border-radius: 12px;
	color: black;
	padding: 1px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}
a:link, a:visited, a:hover, a:active {
  	background-color: pink;
  	border: 10px;
	border-radius: 12px;
	color: black;
	padding: 1px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}
